
/* $Id: main.css 9998 2013-03-26 20:58:48Z jung $ */


/*
FEED COMPOSER
Styles the insert video part of the feed composer.
*/
#compose-video-body .compose-preview-image
{
  float: left;
  margin-right: 2px;
  border: 1px solid $theme_photo_border_color;
}
html[dir="rtl"] #compose-video-body .compose-preview-image
{
  float: right;
  margin-right: 0px;
  margin-left: 2px;
}
#compose-video-body .compose-preview-info
{
  overflow: hidden;
}
#compose-video-body .compose-preview-info a
{
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
}
#compose-video-body .compose-preview-info > div
{
  font-size: 1em;
}




/*
BROWSE VIDEOS & FEED ITEMS
Styles the browse videos page as well as videos embedded
in the feed.
*/
.feed_item_attachments .video_thumb_wrapper
{
  margin-right: 7px;
}
html[dir="rtl"] .feed_item_attachments .video_thumb_wrapper
{
  margin-right: 0px;
  margin-left: 7px;
}
.feed_item_attachments .video_info
{
  overflow: hidden;
}
.feed_item_attachments .video_info > a
{
  font-size: 1em;
  font-weight: bold;
}
.video_title
{
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  clear: both;
}
.feed_item_attachments .video_desc
{
  margin-top: 2px;
  font-size: 1em;
}
ul.videos_browse
{
  overflow: hidden;
}
ul.videos_browse > li
{
  overflow: hidden;
  float: left;
  height: 180px;
  margin-right: 20px;
  max-width: 154px;
}
ul#profile_videos.videos_browse > li
{
  height: 200px;
  padding-bottom: 10px;
}
html[dir="rtl"] ul.videos_browse > li
{
  float: right;
}
.video_length
{
  +opacity(.8);
  +rounded(4px);
  display: inline-block;
  position: absolute;
  margin: 6px;
  padding: 3px 7px;
  background: #000;
  color: #fff;
  font-size: 1em;
}
.video_thumb_wrapper
{
  +rounded(4px);
  float: left;
  margin-bottom: 2px;
  background: #666;
  width: 130px;
  height: 100px;
  border: 4px solid;
}
html[dir="rtl"] .video_thumb_wrapper
{
  float: right;
}
.video_thumb_wrapper:hover
{
  background: #2b3849;
}
.video_thumb_wrapper a
{
  display: block;
  height: 100%;
}
.video_thumb_wrapper img,
.video_thumb_wrapper span.item_nophoto
{
  display: block;
  margin: 5px;
}
.video_author
{
  font-size: 1em;
  display: block;
}
.video_stats > span
{
  font-size: 1em;
  color: $theme_font_color_light;
}
.layout_video_browse_search,
.layout_video_browse_menu_quick
{
  margin-bottom: 15px;
}

/* Video Grid View */
ul.videos_browse.grid_wrapper > li
{
  max-width: 100%;
  height: auto;
}
[dir="rtl"] ul.videos_browse.grid_wrapper > li
{
  margin-right: 0;
}
ul.grid_wrapper .video_thumb_wrapper
{
  width: 100%;
  float: left;
  margin-bottom: 20px;
  background: transparent;
  height: auto;
  border: 0;
}
ul.grid_wrapper .video_thumb_wrapper > a img
{
  margin: 0;
  display: inline-block;
}
ul.grid_wrapper .video_length
{
  right: 0;
  bottom: 0;
  z-index: 0;
}
[dir="rtl"] ul.grid_wrapper .video_length
{
  left: 0;
  right: auto;
}
ul.grid_wrapper .video_grid_info
{
  margin-bottom: 35px;
  width: 100%;
  float: left;
}
ul.grid_wrapper .video_title
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
ul.grid_wrapper .video_grid_info .video_author
{
  margin: 5px 0;
}
ul.grid_wrapper .video_grid_info .video_author a
{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  width: 80%;
}
ul.grid_wrapper .video_grid_info .star_rating_wrapper
{
  float: right;
}
[dir="rtl"] ul.grid_wrapper .video_grid_info .star_rating_wrapper
{
  float: left;
}

/*
MANAGE VIDEOS
Styles the manage videos page.
*/
ul.videos_manage > li
{
  clear: both;
  overflow: hidden;
}
ul.videos_manage > li + li
{
  margin-top: 15px;
  border-top-width: 1px;
  padding-top: 15px;
}
ul.videos_manage .video_thumb_wrapper
{
  +rounded(4px);
  float: left;
  margin-bottom: 2px;
  background: #2b3849;
}
html[dir="rtl"] ul.videos_manage .video_thumb_wrapper
{
  float: right;
}
ul.videos_manage .video_thumb_wrapper:hover
{
  background: #3F4E61;
}
ul.videos_manage .video_thumb_wrapper a
{
  display: block;
}
ul.videos_manage .video_thumb_wrapper img
{
  display: block;
  margin: 5px;
  border: 1px solid #3F4E61;
}
ul.videos_manage .video_info
{
  overflow: hidden;
  padding-left: 10px;
}
html[dir="rtl"] ul.videos_manage .video_info
{
  padding-left: 0px;
  padding-right: 10px;
}
ul.videos_manage .video_info h3
{
  margin-bottom: 0px;
}
ul.videos_manage .video_options
{
  float: right;
  width: 120px;
  padding-left: 15px;
}
html[dir="rtl"] ul.videos_manage .video_options
{
  float: left;
  padding-left: 0px;
  padding-right: 15px;
}
ul.videos_manage .video_options a
{
  clear: both;
  display: block;
  font-size: 0.9em;
  margin: 0 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}
ul.videos_manage .video_title
{
  margin-bottom: 1px;
  margin-left: -1px;
}
html[dir="rtl"] ul.videos_manage .video_title
{
  margin-left: 0px;
  margin-right: -1px;
}
ul.videos_manage .video_author
{
  font-size: 1em;
  display: block;
}
ul.videos_manage .video_stats
{
  margin-top: 2px;
}
ul.videos_manage .video_stats > span
{
  font-size: 1em;
  color: $theme_font_color_light;
}




/*
VIEW VIDEO
Styles the view video page, where a single
video is shown.
*/
div.video_view h3
{
  border-top-width: 1px;
  padding-top: 7px;
  margin-bottom: 2px;
}
div.video_view .video_embed
{
  margin: 10px 0px 3px 0px;
}
div.video_view .video_date
{
  font-size: 1em;
  color: $theme_font_color_light;
}
div.video_view .rating
{
  margin-top: 7px;
  height: 20px;
}
.layout_page_video_index_view .layout_core_comments,
div.video_view .comments
{
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
.layout_page_video_index_view .layout_core_comments .comments_options span,
div.video_view .comments_options span
{
  font-weight: bold;
  color: $theme_font_color_light;
  margin-bottom: 6px;
}
.video_view_container .video_options a
{
  font-weight: bold;
}
.layout_page_video_index_view .layout_core_content
{
  margin-bottom: 15px;
}
.layout_page_video_index_view .layout_core_comments h3
{
  display: none;
}

/*
Message VIDEO
Styles for videos attached to the message page.
*/
div.message_attachment .video_info > a
{
  font-size: 1em;
  font-weight: bold;
}
div.message_attachment .video_info
{
  overflow: hidden;
  padding-left: 10px;
}
div.message_attachment .video_info h3
{
  margin-bottom: 0px;
}
div.message_attachment .video_desc
{
  margin-top: 2px;
  font-size: 1em;
}







/* ACTION TYPE ICONS */
.activity_icon_comment_video:before
{
  content: "\\f0e5";
  font-family:fontawesome;
}

/* ITEM TYPE ICONS */
.item_icon_video:before
{
  content: "\\f03d";
  font-family:fontawesome;
}

/* NOTIFICATION TYPE ICONS */
.notification_type_video_processed:before
{
  content: "\\f03d";
}

/*
ACTIVITY FEED COMPOSER VIDEO
Used for the attachment composer above the main feed.
*/
#compose-video-activator:before,
#compose-video-menu span:before
{
  content: "\\f03d";
  font-family:fontawesome;
  color: #ff5722;
  margin-right:6px;
}
[dir="rtl"] #compose-video-activator:before,
[dir="rtl"] #compose-video-menu span:before
{
  margin-right: 0px;
  margin-left :6px;
}
#compose-video-form-input
{
  width: 300px;
  margin-top: 5px;
}
#compose-video-form-submit
{
  margin-top: 5px;
  clear: both;
}




/* ICONS */
.icon_video_new:before
{
  content: "\\f03d";
}
.icon_video_edit:before
{
  content: "\\f040";
}
.icon_video_delete:before
{
  content: "\\f056";
}


/* VIDEO IFRAMES */
.vimeo_iframe_big,
.vimeo_iframe_small,
.youtube_iframe_big,
.youtube_iframe_small
{
  width: 100%;
}
.video_thumb
{

}
.video_object
{
  display: none;
  margin-bottom: 10px;
}
.video_object.video_object_iframely
{
  display: block;
}
/* ---------- Responsive CSS -------------*/
@media (max-width:600px) {
  ul.videos_manage .video_info
  {
   clear: both;
   padding-top: 5px;
   padding-left: 0;
  }
}
@media (min-width:600px) {
  ul.videos_browse.grid_wrapper > li
  {
   margin-left:10px;
   margin-right:10px;
  }
}
@media (min-width: 980px) {
  .vimeo_iframe_big
  {
    width: 640px;
    height: 360px;
  }
  .vimeo_iframe_small
  {
    width: 400px;
    height: 230px;
  }
  .youtube_iframe_big
  {
    width: 560px;
    height: 340px;
  }
  .youtube_iframe_small
  {
    width: 425px;
    height: 344px;
  }
}
@media (min-width: 1199px) {
  ul.videos_browse.grid_wrapper > li
  {
   max-width: $theme_grid_width;
  }
}
